.pure-button {
  border-radius: 0;
  background-color: #00AEF3;
  border: 3px solid #00AEF3;
  color: #fff;
  white-space: normal;
  font-family: "Arvo", serif; }
  .pure-button:hover, .pure-button:focus {
    background-image: none;
    background-color: #fff;
    color: #00AEF3;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

/* Usage: easily set breakpoints for small, medium, and large screens
Either pass the px number through individually, or set it as a variable */
.pure-g div[class*="pure-u-"] {
  padding: 0.5em 1em; }

#header {
  padding: 1em; }

#main {
  padding: 1em 3em; }

@media screen and (max-width: 768px) {
  #main {
    padding: 1em; } }

#footer {
  padding: 3em 1em; }

.pure-button {
  border-radius: 0;
  background-color: #00AEF3;
  border: 3px solid #00AEF3;
  color: #fff;
  white-space: normal;
  font-family: "Arvo", serif; }
  .pure-button:hover, .pure-button:focus {
    background-image: none;
    background-color: #fff;
    color: #00AEF3;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

/* Usage: easily set breakpoints for small, medium, and large screens
Either pass the px number through individually, or set it as a variable */
.pure-button {
  border-radius: 0;
  background-color: #00AEF3;
  border: 3px solid #00AEF3;
  color: #fff;
  white-space: normal;
  font-family: "Arvo", serif; }
  .pure-button:hover, .pure-button:focus {
    background-image: none;
    background-color: #fff;
    color: #00AEF3;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

/* Usage: easily set breakpoints for small, medium, and large screens
Either pass the px number through individually, or set it as a variable */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

h1, h2, h3, h4, h5 {
  font-family: "Arvo", serif;
  color: #0F2446; }

body {
  font-family: "Archivo", sans-serif;
  font-size: 14pt;
  color: #0F2446; }

b, strong {
  font-family: "Archivo", sans-serif;
  font-weight: bold; }

a {
  font-weight: bold;
  text-decoration: none;
  color: #00AEF3;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  a:hover, a:active, a:focus {
    color: #0077a7; }

#wrapper {
  min-height: 100%;
  position: relative; }

#header {
  background-color: #00AEF3;
  color: #fff; }
  #header h1, #header h2, #header h3, #header h4, #header h5 {
    background-color: #00AEF3;
    color: #fff; }

/* fix for IE and Firefox responsiveness */
.pure-g {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.pure-g [class*="pure-u"] {
  font-family: "Archivo", sans-serif; }

.pure-g {
  font-family: "Archivo", sans-serif; }

.signup-form {
  background: #fff;
  color: #0F2446; }
  .signup-form .pure-button {
    background: #00AEF3;
    color: #fff; }
    .signup-form .pure-button:hover {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      background: #fff;
      color: #00AEF3; }

.signup-form {
  padding: 1em;
  width: 100%; }
  .signup-form .pure-button {
    text-transform: uppercase;
    font-weight: bold;
    width: 100%; }

.social-share {
  display: block;
  margin-top: 1em; }
  .social-share.links i {
    font-size: 1.5em; }
  .social-share.links a:nth-child(2) {
    margin-left: 1em; }
  .social-share.buttons {
    color: #fff; }
    .social-share.buttons .tweet-link .fa-twitter {
      color: #fff;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .social-share.buttons .tweet-link .fa-circle {
      color: #1da1f2;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .social-share.buttons .tweet-link:hover {
      cursor: pointer; }
      .social-share.buttons .tweet-link:hover .fa-twitter {
        color: #1da1f2; }
      .social-share.buttons .tweet-link:hover .fa-circle {
        color: #fff; }
    .social-share.buttons .fb-link .fa-facebook {
      color: #fff;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .social-share.buttons .fb-link .fa-circle {
      color: #3B5998;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .social-share.buttons .fb-link:hover {
      cursor: pointer; }
      .social-share.buttons .fb-link:hover .fa-facebook {
        color: #3B5998; }
      .social-share.buttons .fb-link:hover .fa-circle {
        color: #fff; }

#footer {
  background: #00AEF3;
  color: #fff;
  text-align: center;
  clear: both;
  font-size: 7pt; }
  #footer a, #footer .copyright-text {
    font-size: 0.75em; }
  #footer a {
    color: #00AEF3;
    text-decoration: none; }
    #footer a:hover {
      color: #0077a7; }
  #footer .copyright-footer {
    border: 1px solid #fff;
    width: 75%;
    margin: auto;
    display: inline-block; }
    #footer .copyright-footer .copyright-text {
      padding: 1em 2em; }
      #footer .copyright-footer .copyright-text p {
        margin: 0; }

input:not([type=submit]):not([type=file]):not([type=radio]):not([type=checkbox]), textarea:not([type=submit]):not([type=file]):not([type=radio]):not([type=checkbox]) {
  width: 100%;
  padding: 0.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0; }

input:active, input:focus, textarea:active, textarea:focus {
  outline: 0; }

input.submit, textarea.submit {
  white-space: normal; }
